/*******************************************************

	Project: 			Nidavellir
	File desc:			Provide clean nifty shortcut css to base styles.
	Authored by (date):	Rico van der Klein (17/09/2020)
	Modified by (date): 

*******************************************************/

@mixin transform($property) {
  	-webkit-transform: 	$property;
  	-ms-transform: 		$property;
 	 transform: 		$property;
}

%clean-anchor {
	text-decoration: 	inherit;
	color: 				inherit;
	cursor: 			inherit;
}

%center-absolute {
	position: 	absolute;

	top: 	50%;
	left: 	50%;

	@include transform(translate(-50%, -50%));
}

%text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

%info-table-th {
	text-align: left;
	color: $light-gray;
	font-weight: bold;
}

%info-table-td {
	text-align: left;
	color: $lighter-gray;
	font-weight: normal;
	font-style: italic;
}