/*******************************************************

	Project: 			Nidavellir
	File desc:			Variable storage.
	Authored by (date):	Rico van der Klein (17/09/2020)
	Modified by (date): Rico van der Klein (19/11/2020)

*******************************************************/

/*** ---- BREAKPOINTS ---- ***/
$mobile-breakpoint: 	500px;
$tablet-breakpoint: 	700px;
$desktop-breakpoint:	1024px;

/*** ---- COLOURS ---- ***/
$darker-gray: 			rgb(29, 29, 29);
$darkest-gray:  		rgb(17, 17, 17);
$normal-gray:			rgb(52, 58, 64);
$light-gray:			rgb(90, 101, 112);
$lighter-gray:			rgb(129, 145, 160);
$lightest-gray:			rgb(217, 220, 223);

$whiter-white:			rgb(243, 243, 243);
$whitest-white:			rgb(255, 255, 255);

$landstede-blue:			rgb(63, 81, 181);
$landstede-dark-blue: 		rgb(54, 68, 150);
$landstede-light-blue: 		rgb(216, 223, 247);
$landstede-lighter-blue: 	rgb(227, 233, 255);

$danger-red: 			rgb(218, 69, 69);
$darker-danger-red: 	rgb(156, 51, 51);
$lightest-red:			rgb(255, 241, 241);

$good-green: 			rgb(89, 190, 89);
$darker-good-green: 	rgb(65, 139, 65);
$lightest-green:		rgb(200, 255, 200);