/*******************************************************

	Project: 			Nidavellir
	File desc:			Material design form styling. Based on https://codepen.io/chrisoncode/pen/IdGKH
	Authored by (date):	Rico van der Klein (30/09/2020)
	Modified by (date): 

*******************************************************/

@import "../utilities/variables";
@import "../utilities/reusables";

.material-form {
	position: relative;

	height: 100%;

	.title {
		color: $light-gray;
		font-weight: bold;
		font-size: 25px;
	}

	.group.fillin { 
		display: inline-block;
		position: relative;

		margin-top: 50px;
	}

	.group.bottom {
		display: block;
		position: absolute;

		bottom: 0;
		left: 50%;

		width: 100%;

		margin: 0;

		@include transform(translateX(-50%));
	}

	.group input[type=submit] {
		display: block;
		position: relative;

		font-size: 18px;
		font-weight: bold;
		color: $whitest-white;
		cursor: pointer;

		width: 50%;

		left: 50%;

		border: none;

		padding: 10px 0;

		background-color: $landstede-blue;

		transition-property: background-color;
		transition-duration: 0.25s;

		@include transform(translateX(-50%));
	}

	.group input[type=submit]:hover, .group input[type=submit]:focus {
		background-color: $landstede-dark-blue;
	}

	.group input[type=email],
	.group input[type=text],
	.group input[type=password] {
		display: block;

		font-size: 15px;
		font-weight: bold;
		font-style: italic;
		color: $light-gray;

		padding: 10px 10px 10px 5px;

		width: 300px;

		border: none;
		border-bottom-style: solid;
		border-bottom-color: $lighter-gray;
		border-bottom-width: 2px;
	}

	.group input:focus {
		outline: none;
	}

	/* LABEL */
	.group input[type=email] ~ label,
	.group input[type=text] ~ label,
	.group input[type=password] ~ label {
		position:absolute;

		color: 			$lighter-gray; 
		font-size: 		12px;
		font-weight: 	bold;

		pointer-events: none;

		left: 5px;
		top: 10px;

		transition-property: 		top, font-size;
		transition-duration: 		0.25s;
		transition-timing-function: ease;
	}

	/* active state */
	.group input:focus ~ label, .group input:valid ~ label, .group input:not(:placeholder-shown) ~ label {
		top: -20px;

		font-size: 14px;
	}

	.group input[type=email]:focus,
	.group input[type=text]:focus,
	.group input[type=password]:focus {
		border-bottom-color: $landstede-blue;

		color: $landstede-blue;
	}

	.group input:focus ~ label {
		color: $landstede-blue;
	}

	/* danger */
	.group.danger > input[type=email],
	.group.danger > input[type=text],
	.group.danger > input[type=password] {
		border-bottom-color: $danger-red !important;

		color: $danger-red !important;
	}

	.group.danger > label {
		color: $danger-red !important;
	}

	/* ANIMATIONS */
	@-webkit-keyframes inputHighlighter {
		from {
			background: $landstede-blue;
		}

		to {
			width: 0;

			background: transparent;
		}
	}

	@-moz-keyframes inputHighlighter {
		from {
			background: $landstede-blue;
		}

		to {
			width: 0;
			
			background: transparent;
		}
	}

	@keyframes inputHighlighter {
		from {
			background: $landstede-blue;
		}

		to {
			width: 0;
			
			background: transparent;
		}
	}
}

.material-form.h-center {
	.group.fillin {
		
	}
}

.material-form.v-center {
	vertical-align: middle;
}