/*******************************************************

	Project: 			Nidavellir
	File desc:			Define base layout for the site.
	Authored by (date):	Rico van der Klein (17/09/2020)
	Modified by (date): Rico van der Klein (19/11/2020)

*******************************************************/

@import "../utilities/variables";

/* Set the view to screen size and disable scrolling. */
html, body {
	display: grid; // This fixed grid contents vertically overflowing their containers. Everything is now grid. Maybe it always was...
	height: 100%;
	width: 100%;

	margin: 0;

	overflow: hidden;
}

/* Define the body as a grid display. Inline to prevent line-break. */
body {
	display: inline-grid;
	position: relative;

	font-family: 	'Roboto', sans-serif;
	font-size:		14px;

	grid-template-columns: 1fr;
	grid-template-rows: minmax(0, 1fr);
}

footer {
	display: none;

	grid-column: none;
}

.material-shadow {
	box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Will always stick to the left of our pages */
#nav {
	grid-column: 1;
	grid-row: 1;
}

/* Stick to the right of the nav */
#content {
	display: grid;
	position: relative;

	grid-template-columns: 1.25fr 1fr;
	grid-template-rows: minmax(0, 1fr);
	grid-column: 1 / 3;
	grid-row: 1;
	
	background-color: $whiter-white;

	padding: 0px;

	overflow-y: scroll;

	.container {
		display: block;
		position: relative;
	}
}

.container-grid {
	display: grid;
	position: relative;

	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: 2;
	grid-column: 2;
	grid-row: 1;
}

.container-grid.full-content {
	grid-column: 1 / 3;
}

.dash-entry {
	display: grid;
	position: relative;

	grid-template-rows: minmax(0, 1fr);

	margin: 25px;

	background-color: $whitest-white;
}

.dash-entry.padded {
	padding: 10px;
}

.table-container-vert {
	display: grid;
	position: relative;

	grid-template-rows: minmax(0, 1fr);
	grid-column: 1 / 3;

	min-height: 0;

	.table-scroll {
		/*width:100%; */
		display: grid;
		empty-cells: show;

		grid-template-rows: 50px minmax(0, 1fr);

		overflow-x: scroll;
		overflow-y: hidden;
		
		/* Decoration */
		border-spacing: 0;
		border: 1px solid;
		border-color: $lightest-gray;
	}

	.table-scroll thead {
		position: relative;
		display: block;

		grid-row: 1;

		width: 100%;
		
		color: $light-gray;

		background-color: $landstede-lighter-blue;
	}

	.table-scroll tbody {
		/* Position */
		display: block;
		position: relative;
		overflow-y: scroll;

		grid-row: 2;

		width: 100%;
	}

	.table-scroll tr {
		width: 100%;
		display:flex;

		border-bottom: 1px solid $lightest-gray;
	}

	.table-scroll tr.success {
		background-color: $lightest-green;
	}

	.table-scroll tr.error {
		background-color: $lightest-red;
	}

	.table-scroll tr:last-child {
		border-bottom: none;
	}

	.table-scroll td, .table-scroll th {
		flex-basis: 100%;
		flex-grow: 2;
		display: block;
		padding: 1rem;
		text-align: left;
		text-overflow: ellipsis;
	}

	.table-scroll th {
		min-width: 100px;

		white-space: nowrap;
	}

	/* Other options */

	.table-scroll.small-first-col td:first-child,
	.table-scroll.small-first-col th:first-child {
		flex-basis: 20%;
		flex-grow: 1;
	}

	.table-scroll th .filter-button {
		display: block;

		float: right;

		text-align: center;
	}

	.table-scroll th.delete-row, .table-scroll th.save-row {
		flex-basis: 95px;
	}

	.table-scroll th.filter-head {
		cursor: pointer;

		transition-property: background-color;
		transition-duration: 0.25s;

		user-select: none;

		label {
			cursor: inherit;
		}
	}

	.table-scroll th.filter-head:hover {
		background-color: $landstede-light-blue;
	}

	.table-scroll td {
		min-width: 100px;

		overflow: hidden;

		white-space: nowrap;
	}

	.table-scroll td.delete-button {
		display: block;
		cursor: pointer;

		text-align: center;
		color: $whitest-white;
		user-select: none;
		font-weight: bold;

		background-color: $danger-red;

		flex-basis: 95px;

		transition-property: background-color;
		transition-duration: 0.25s;
	}

	.table-scroll td.delete-button.confirm-delete {
		background-color: $landstede-blue;
		color: $whitest-white;
		content: 'O';
	}

	.table-scroll td.delete-button.confirm-delete:hover {
		background-color: $landstede-dark-blue;
	}

	.table-scroll td.delete-button:hover {
		background-color: $darker-danger-red;
	}

	.table-scroll td.save-button {
		display: block;
		cursor: pointer;

		text-align: center;
		color: $whitest-white;
		user-select: none;
		font-weight: bold;

		background-color: $landstede-blue;

		flex-basis: 95px;

		transition-property: background-color;
		transition-duration: 0.25s;
	}

	.table-scroll td.save-button:hover {
		background-color: $landstede-dark-blue;
	}

	.table-scroll td.no-ellipsis {
		text-overflow: clip !important;
	}

	.table-scroll td.input-container {
		padding: 0 1rem;

		overflow: hidden;

		select {
			width: 100%;
			height: 100%;

			outline: none;

			border: none;
		}

		input {
			width: 100%;
			height: 100%;

			border: none;
			text-overflow: ellipsis;
		}

		input:focus {
			outline: none;
		}
	}

	.table-scroll td input,
	.table-scroll td select {
		width: 100%;

		padding: 0;

		background-color: transparent;
	}

	.table-scroll tbody tr:nth-child(2n){
		/* background-color: $lighter-gray; */
	}

	.body-half-screen{

	}

	.small-col{ flex-basis: 20% !important; }/* 
	.smaller-col { flex-basis: 10% !important; } */
}

@media (min-width: $tablet-breakpoint) {

}

@media (min-width: $desktop-breakpoint) {
	body {
		grid-template-columns: 100px 1fr;
	}

	#content {
		padding: 50px;

		grid-column: 2;
	}

	.container-grid {
		display: grid;
		position: relative;

		grid-template-columns: 1.25fr 1fr;
		grid-template-rows: minmax(0, 1fr);
		grid-row: 1;
	}
}