/*******************************************************

	Project: 			Nidavellir
	File desc:			Styles for navigation menu.
	Authored by (date):	Rico van der Klein (17/09/2020)
	Modified by (date): 

*******************************************************/

@import "../utilities/variables";
@import "../utilities/reusables";

#nav {
	display: block;
	position: absolute;

	z-index: 100;

	height: 100vh;
	width: 50%;

	grid-column: 1 / 3;
	grid-row: none;

	background-color: $whitest-white;

	transition-property: transform;
	transition-duration: 0.25s;

	@include transform(translateX(-100%));

	.nav-inner {
		display: grid;

		grid-template-rows: 1fr 100px;

		height: 100%;
		width: 100%;

		.nav-mob-toggle {
			position: absolute;
			display: block;

			z-index: 1;

			left: 100%;
			bottom: 0;

			width: 100px;
			height: 100px;

			grid-row: none;

			background-color: transparent;

			i {
				position: absolute;
				display: block;

				width: 75px;
				height: 75px;

				cursor: pointer;
				user-select: none;

				line-height: 75px;

				left: 50%;
				top: 13.33%;

				font-size: 30px;
				color: $whitest-white;

				text-align: center;

				background-color: $landstede-blue;

				border-radius: 75px;

				transition-property: background-color;
				transition-duration: 0.25s;
				
				@include transform(translateX(-50%));
			}

			i:hover {
				background-color: $landstede-dark-blue;
			}
		}

		.nav-primary-list {
			z-index: 2;

			grid-row: 1;

			width: 100%;

			a {
				@extend %clean-anchor;

				display: 	block;
				position: 	relative;
				cursor: 	pointer;

				text-align: 	center;
				line-height: 	25px;
				color: 			$light-gray;
				font-weight: 	bold;

				box-sizing: border-box;

				width: 100%;
				height: 100px;

				border-right: 4px solid $whitest-white;

				margin-left: 0px;

				transition-property: background-color, border-right-color, border-left-color;
				transition-duration: 0.25s;

				label {
					@extend %center-absolute;

					display: block;

					cursor: inherit;
				}

				i {
					cursor: inherit;

					font-size: 20px;
				}
			}

			a:hover {
				background-color: $whiter-white;

				border-right-color: $whiter-white;
			}

			a.active {
				color: $landstede-blue;

				border-right: 4px solid $landstede-blue;
			}

			a.login {
				background-color: $landstede-blue;

				color: $whitest-white;

				border-right: 4px solid $landstede-blue !important;

				margin-left: 0;
			}

			a.logout {
				background-color: $danger-red;

				color: $whitest-white;

				border-right: 4px solid $danger-red;

				margin-left: 0;
			}

			a.login:hover {
				background-color: $landstede-dark-blue;
				border-right-color: $landstede-dark-blue;
				border-left-color: $landstede-dark-blue;
			}

			a.logout:hover {
				background-color: $darker-danger-red;
				border-right-color: $darker-danger-red;
				border-left-color: $darker-danger-red;
			}
		}

		.nav-copyright {
			display: 	inline-block;

			z-index: 2;

			grid-row: 	2;

			text-align: 	center;
			line-height: 	25px;
			color: 			$lighter-gray;
			font-weight: 	bold;

			div {
				position: relative;

				top: 50%;

				@include transform(translateY(-50%));
			}
		}
	}
}
#nav.open {
	@include transform(translateX(0%));
}

@media (min-width: $tablet-breakpoint) {

}

@media (min-width: $desktop-breakpoint) {
	#nav {
		display: block;
		position: relative;

		height: 100vh;
		width: 100%;

		grid-column: 1;
		grid-row: 1;

		transform: none;

		.nav-inner {
			.nav-mob-toggle {
				display: none;

				grid-row: none;
			}

			.nav-primary-list {
				a {
					width: 96px;
					margin-left: 4px;
				}

				a.login, a.logout {
					margin-left: 0px;

					border-left-width: 4px;
					border-left-style: solid;
					border-right-width: 4px;
					border-right-style: solid;

					width: 100%;
				}

				a.login {
					border-left-color: $landstede-blue;
					border-right-color: $landstede-blue;
				}

				a.logout {
					border-left-color: $danger-red;
					border-right-color: $danger-red;
				}
			}
		}
	}
}