/*******************************************************

	Project: 			Nidavellir
	File desc:			Identify yourself.
	Authored by (date):	Rico van der Klein (28/09/2020)
	Modified by (date): 

*******************************************************/

@import "../utilities/variables";
@import "../utilities/reusables";

.dash-auth {
	display: grid;
	position: relative;

	grid-template-rows: 1;
	grid-template-columns: minmax(0, 1fr);

	padding-bottom: 50px !important;
	padding-top: 50px !important;

	.register {
		grid-column: 1;
		grid-row: 1;

		text-align: center;

		min-height: 300px;
	}

	.login {
		grid-column: 1;
		grid-row: 2;

		text-align: center;

		min-height: 300px;
	}

	@media (max-width: $desktop-breakpoint) {
		.message {
			grid-row: 1;
			grid-column: 1;

			text-align: center;
			font-weight: bold;
			font-size: 20px;
			color: $landstede-blue;
		}

		.register {
			padding-bottom: 25px;
			padding-top: 75px;
		}

		.login {
			border-top-style: solid;
			border-top-width: 1px;
			border-top-color: $lightest-gray;
			
			padding-top: 25px;
		}

		.group input {
			width: 200px !important;
		}

		.group.bottom {
			position: relative !important;

			padding-top: 50px;
		}
	}
}



@media (min-width: $tablet-breakpoint) {

}

@media (min-width: $desktop-breakpoint) {
	.dash-auth {

		grid-template-rows: 50px minmax(0, 1fr) !important;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

		grid-column: 1 / 3;

		padding-bottom: 50px !important;
		padding-top: 50px !important;

		.message {
			grid-row: 1;
			grid-column: 1 / 3;

			text-align: center;
			font-weight: bold;
			font-size: 20px;
			color: $landstede-blue;
		}

		.register {
			grid-column: 1;
			grid-row: 2;

			text-align: center;
		}

		.login {
			grid-column: 2;
			grid-row: 2;

			text-align: center;

			border-left-style: solid;
			border-left-width: 1px;
			border-left-color: $lightest-gray;
		}
	}
}