/*******************************************************

	Project: 			Nidavellir
	File desc:			Styles for home menu.
	Authored by (date):	Rico van der Klein (18/09/2020)
	Modified by (date): 

*******************************************************/

@import "../utilities/variables";
@import "../utilities/reusables";

#viewer {
	display: block;
	position: relative;

	/* grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr; */
	grid-column: 1;
	grid-row: 1;

	padding-bottom: 70px;

	min-height: 500px;

	.viewer-feed {
		display: none;
		position: absolute;

		margin: 10px 10px 0px 10px;

		height: 100%;

		.viewer-canvas {
			position: relative;

			height: 100% !important;

			.keep-aspect {
				display: block;
				position: relative;

				width: 100%;
				height: auto;

				top: 50%;

				@include transform(translateY(-50%));
			}
		}
	}

	.viewer-feed.shown {
		display: block;
	}
}

#info {
	display: block;
	position: relative;

	/* grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr; */
	grid-column: 1;
	grid-row: 2;

	padding-bottom: 70px;

	min-height: 500px;

	.info-feed {
		display: none;

		grid-column: 1 / 3;
		grid-row: 1;
	}

	#info-statistics.shown {
		display: grid;

		grid-template-rows: minmax(0, 1.25fr) minmax(0, 1fr);
		grid-template-columns: 1fr;

		margin: 10px;

		height: 100%;

		.info-entries {
			grid-row: 1;

			border-collapse: collapse;
			table-layout: fixed;

			border-style: solid;
			border-color: $lightest-gray;
			border-width: 1px;

			width: 100%;
			height: 100%;

			tbody {
				padding: 10px;
			}

			tr {
				border-bottom-style: solid;
				border-bottom-color: $lightest-gray;
				border-bottom-width: 1px;
			}

			tr:last-child {
				border: none;
			}

			th {
				@extend %info-table-th;

				padding-left: 10px;
			}

			td {
				@extend %info-table-td;

				padding-right: 10px;
			}
		}

		.info-graph {
			grid-row: 2;

			border-style: solid;
			border-color: $lightest-gray;
			border-width: 1px;

			border-top: none;

			padding: 10px 0px;

			#temperature-chart {
				position: absolute;
			}
		}
	}

	#info-queue {
		display: none;

		margin: 10px;

		grid-column: 1 / 3;
		grid-row: 1 / 2;

		height: 100%;
	}

	#info-queue.shown {
		display: grid;

		grid-template-rows: minmax(0, 1fr);
	}
}

.view-switch:hover label {
	background-color: $whiter-white;
}

.view-switch {
	position: absolute;
	cursor: pointer;

	bottom: 0;

	width: 50%;
	height: 50px;

	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color: $light-gray;

	user-select: none;

	border: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: $whitest-white;

	background-color: $whitest-white;

	transition-property: background-color, border-bottom-color;
	transition-duration: 0.25s;

	grid-row: 1;
}

.view-switch:hover {
	background-color: $whiter-white;
	border-bottom-color: $whiter-white;
}

.view-switch:focus {
	outline: 0;
}

.view-switch.selected {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: $landstede-blue;

	color: $landstede-blue;
}

.view-switch:nth-child(4) {
	right: 0;
}

@media (min-width: $tablet-breakpoint) {

}

@media (min-width: $desktop-breakpoint) {
	#viewer {
		grid-row: 1 / 3;
		grid-column: 1;

		.viewer-feed {
			position: relative;

			margin: 10px 10px 0px 10px;

			height: 100%;

			.viewer-canvas {

				position: relative;
				height: 100%;

				.keep-aspect {
					display: block;
					position: relative;

					width: 100%;
					height: auto;

					top: 50%;

					@include transform(translateY(-50%));
				}
			}
		}
	}

	#info {
		grid-row:  1 / 3;
		grid-column: 2;
	}
}