/*******************************************************

	Project: 			Nidavellir
	File desc:			Styling for uploading a new file.
	Authored by (date):	Rico van der Klein (28/09/2020)
	Modified by (date): 

*******************************************************/

@import "../utilities/variables";
@import "../utilities/reusables";

.dash-upload {
	display: grid;

	grid-template-rows: minmax(0, 1fr) !important;
	grid-template-columns: minmax(0, 1fr);

	grid-column: 1 / 3;

	padding-bottom: 50px !important;
	padding-top: 50px !important;

	.group.file-select {
		display: inline-block;
		position: absolute;

		left: 50%;
		top: 50%;

		text-align: center;

		margin: 0;

		@include transform(translate(-50%));

		input {
			display: none;
		}

		label {
			display: block;

			height: 100px;
			width: 100px;

			line-height: 100px;
			font-size: 50px !important;
			color: $whitest-white;

			cursor: pointer;

			margin: 0 auto;

			border-radius: 100px;

			background-color: $lighter-gray;

			transition-property: background-color;
			transition-duration: 0.25s;
		}

		label:hover, label:focus {
			background-color: $light-gray;
		}

		label.good {
			background-color: $good-green;
		}

		label.good:hover, label.good:focus {
			background-color: $darker-good-green;
		}

		label.danger {
			background-color: $danger-red;
		}

		label.danger:hover, label.danger:focus {
			background-color: $darker-danger-red;
		}

		label.filled {
			background-color: $landstede-blue;
		}

		label.filled:hover, label.filled:focus {
			background-color: $landstede-dark-blue;
		}

		span {
			display: block;

			margin-top: 10px;

			font-size: 15px;
			font-weight: bold;
			color: $light-gray;
		}
	}
}